<% if flash[:notice] %>
  <%= flash[:notice] %>
<% end %>

<h2><%= link_to(@project.name, project_entries_path(@project)) %></h2>

<ul>
  <% @entries.each do |entry| %>
    <li>
      <%= link_to("Edit", edit_project_entry_path(@project, entry)) %>
      <%= format("%.2d",entry.hours) %> h
      <%= format("%.2d",entry.minutes) %> m -
      <%= entry.date.strftime("%Y-%m-%d") %>
      <%= link_to('Delete', project_entry_path(@project, entry), method: :delete, confirm: 'Are you sure?') %>
    </li>
  <% end %>
</ul>

<%= link_to("Create a new entry.", new_project_entry_path) %><br>
<%= link_to("Back to the list of projects.", projects_path) %>

